@font-face {
  font-family: 'Paperlogy-8ExtraBold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Paperlogy-8ExtraBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

body {
  justify-content: center;
}
body, .App, button {
  font-family: 'Paperlogy-8ExtraBold', sans-serif;
}

/* #root가 화면 전체를 차지하도록 설정 */
#root {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;  /* 가로 중앙 정렬 */
  align-items: center;      /* 세로 중앙 정렬 */
  background-color: #f5f5f5;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
}

.container {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 80%;
  max-width: 800px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  padding: 40px 40px;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.nav span {
  font-size: 18px;
  cursor: pointer;
  padding: 5px 10px;
}

.selected {
  font-weight: bold;
  color: #393E76;
}

.content {
  display: none;
}

.content.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%; /* Full height to center-align the banner */
  justify-content: center;
}

.navy-banner {
  margin-bottom: 20px;
  background-color: var(--primary-color);
  color: var(--text-color);
  border-radius: 15px;
  padding: 30px 50px; /* 배너 내부 패딩 */
  width: 80%;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

button {
  background-color: navy;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #00509e;
}

.dots {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: lightgray;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background-color: black;
}

.footer {
  margin-top: 20px;
  font-size: 12px;
  color: gray;
  text-align: center;
}
.image-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.github-logo {
  width: 60px;
  height: 60px;
  object-fit: contain; /* 이미지 비율을 유지하며 고정된 크기에 맞춤 */
}
.discord-logo {
  width: 70px;
  height: 70px;
  object-fit: contain; /* 이미지 비율을 유지하며 고정된 크기에 맞춤 */
}