
.model-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.image-row {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.face-image {
  width: auto;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin: 0 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.arrow {
  font-size: 40px;
  margin: 0 15px;
  color: #333;
}

.model-block {
  background-color: #d3d3d3;
  color: #333;
  font-weight: bold;
  font-size: 18px;
  padding: 40px 10px;
  margin: 0 20px;
  border-radius: 15px;
  width: 120px;
  text-align: center;
  writing-mode: vertical-rl; 
  /* transform: rotate(180deg); */
}